.hc-side-modal-container{
  width: var(--col-12);
  box-shadow: 0 0 15px var(--brightness-86);
  background: white;
  overflow: hidden;
  z-index: 2147483647;
  height: 0;
}
.hc-side-modal-container .blocks-gallery-item{
  width: 100% !important;
}
.hc-side-modal-container .wp-block-gallery{
  width: 94%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.hc-side-modal-container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

.hc-side-modal-container p, .hc-side-modal-container h1, .hc-side-modal-container h2, .hc-side-modal-container h3{
  display: block;
  margin-block-start: 20px;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.hc-side-modal-container .wp-block-group{
  margin-bottom: 20px;
}
.pykstream-sidemodal-closed{
  padding: 0 !important;
}
.hc-side-modal{
  padding: 40px;
  width: 700px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.hc-progress-bar{
  height: 8px;
  width: 100%;
  top:0px;
  left:0px;
  position: absolute;
  z-index: 10000;
}
.hc-article-progress-bar{
  z-index: 1000000;
  position: fixed;
}
.admin-bar .hc-article-progress-bar{
  top: 32px;
}
.hc-modal-trigger{
  cursor: pointer;
}
.pykstream-info-sidemodal-close:before, .pykstream-info-sidemodal-close:after  {
  height: 24px !important;
  border-left: 3px solid var(--primary-main) !important;
  left: auto !important;
}
.pykstream-info-sidemodal-close {
  width: 20px!important;
  height: 20px!important;
  top: 20px!important;
  right: 0px!important;
}

@media screen and (max-width:700px) {
  .hc-side-modal-container, .hc-side-modal{
    width: 100vw;
  }
  .hc-side-modal{
    height: 100vh;
    padding: 20px;
  }
}