.hc-preview{
  width: var(--col-16);
  z-index: 3;
}
.single .hc-single-preview{
  grid-row: 1;
}
.hc-preview-trigger{
  cursor: pointer;
}
.preview-carousel-cell{
  margin: auto !important;
}

.preview-carousel-cell figure{
  margin: 0;
}
.hc-multiple-container{
  max-height: 0;
  overflow: hidden;
}
.hc-preview-arrow{
  display: none;
}
.hc-preview-opened .hc-preview-arrow{
  display: flex;
}
#hc-preview-gallery-container{
  grid-template-rows: auto 70px;
  max-height: 400px;
  width: 460px;
}
#hc-preview-gallery-container[data-fullscreen="true"]{
  max-height: 100vh;
}
#hc-preview-gallery-container>.pykstream-viewport>.pykstream-slider img{
  width: 100% !important;
  height: auto;
}
.hc-preview-close{
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  fill: var(--primary-main);
  cursor: pointer;
  padding: 20px;
  z-index: 100;
  outline: none;
}
.hc-preview-block-container{
  display: grid;
  justify-content: center;
}
.hc-preview-block-container .hc-preview-container{
  width: 100vw;
}
.hc-preview-container{
  position: relative;
  grid-column: 1/-1;
  display: flex;
  background-color: var(--brightness-100);
  justify-content: center;
}

.hc-multiple-preview{
  position: absolute;
  width: 100vw;
}
.hc-preview-backdrop{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.1;
}
.hc-tab{
  text-transform: uppercase;
  padding: 4px;
  border: 1px solid var(--primary-main);
}
.hc-tab-no-border{
  text-transform: uppercase;
  padding: 4px;
  border: 1px solid var(--primary-main);
  border-left: none;
  border-right: none;
}
[data-bodyfullscreen="true"] .hc-preview-container{
  position: static;
  z-index: 100000;
}
@media screen and (max-width:1060px) {
 .hc-preview{
    width: 100vw;
    padding: 20px 20px;
 }
 #hc-preview-gallery-container{
   width: 100%;
 }
}
@media screen and (max-width: 780px) {
  .hc-preview .hc-content{
    flex-direction: column;
  }
  .hc-preview .hc-col-8{
    width: 100%;
  }
  
 .hc-card-footer{
    flex-grow: 1;
    flex-shrink: 0;
  }
}
 