.hc-post-content p, .hc-post-content h1, .hc-post-content h2, .hc-post-content h3{
    display: block;
    margin-block-start: 20px;
    margin-block-end: 20px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.hc-restricted-content{
    overflow: hidden;
}
.hc-event-form .hc-contact-form-wrapper{
    width: 340px;
}
.hc-post-content-container>p:first-child{
    margin-top: 0 !important;
}
.hc-post-content-container ol, .hc-modal-contents ol{
    margin-left: 18px;
}
.hc-guided-tour-left, .hc-guided-tour-right{
    position: fixed;
    top: 40%;
}
.hc-guided-tour-right{
    right: 10px;
}
.hc-restrict-modal{
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--brightness-97);
    padding: 20px;
    z-index: 10000;
}

.hc-restrict-modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.hc-article-page-container, .hc-gallery-page-container{
    width: 700px;
    margin: auto;
}
.hc-article-excerpt{
    width: 700px;
}
.wp-block-embed-youtube .wp-block-embed__wrapper{
    width: 100%;
    height: 0;
    padding-top: 60%;
}
.wp-block-embed-youtube .wp-block-embed__wrapper iframe{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}
.hc-video-aspect-ratio{
    width:100%;
    aspect-ratio: 16/9;
}
.share-twitter, .share-linkedin, .share-facebook {
    border: none;
}
.hc-internal-link{
	text-decoration-line: underline !important;
	text-underline-offset: 2.5px;
}

/* Gallery CSS */ 
.hc-gallery-image{
    width: 700px;
    position: relative;
}
.hc-gallery-image img{
    width: 100%;
    height: auto;
}
.hc-gallery-image-caption{
    width: 220px;
    font-size: var(--brand-reading-size);
    font-family: var(--brand-reading-font);
}
.hc-gallery-image-caption .blocks-gallery-item__caption{
    font-size: var(--brand-reading-size);
    font-family: var(--brand-reading-font);
}
.hc-gallery{
    width: 700px;
}
.hc-gallery-fullscreen-button{
    background: var(--brightness-20);
    padding: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.hc-gallery-fullscreen-open{
    position: absolute;
    right: 10px;
    top: 10px;
}
.hc-gallery-fullscreen-info{
    background: var(--brightness-46);
}
.hc-gallery-fullscreen-button:hover{
    background: var(--brightness-7);
}
.hc-gallery-container{
    position: relative;
}

.hc-gallery-fullscreen.hc-gallery-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000000;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
}
.hc-gallery-count {
    color: var(--brightness-100);
    white-space: nowrap;
    font-size: 11px;
}
.hc-gallery-fullscreen .hc-gallery{ 
    width: 97vw;
}
.hc-gallery-fullscreen .hc-gallery-image-container{
    height: 100vh;
    flex-direction: row;
    padding: 3%;
    margin: 0 !important;
    display: none;
}
.hc-gallery-buttons{
    display: none;
}
.hc-gallery-fullscreen .hc-gallery-buttons{
    display: flex;
    border-left: 1px solid var(--brightness-46);
    width: 50px;
}
.hc-gallery-fullscreen-close{
    margin-bottom: 80px;
}
.hc-gallery-fullscreen .hc-gallery-fullscreen-open{
    display: none;
}
.hc-gallery-fullscreen .hc-gallery-image-container.hc-visible{
    display: flex;
}
.hc-gallery-fullscreen .hc-gallery-image-caption{
    display: none;
}
.hc-gallery-fullscreen .hc-gallery-image{
    width: 100%;
}
.hc-gallery-fullscreen .hc-gallery-image img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.hc-gallery-fullscreen.hc-gallery-captions-visible .hc-gallery-image-caption{
    display: block;
    margin-left: 20px;
    color: var(--brightness-100);
}

.hc-gallery-image-caption strong{
    font-family: var(--brand-header-font);
    font-size: var(--brand-card-title-size-s);
}
/* Product article page */ 

.hc-product-article-container{
    width: 460px;
}
.hc-product-article-image{
    width: 460px;
    height: fit-content;
    object-fit: contain;
    position: sticky;
    top: 160px;
    margin-bottom: 50px;
}
/* For sticky */ 

.single-product .humane_page_container{
    overflow: visible;
}
.hc-product-article-container .hc-article-excerpt{
    width: 100%;
}
.hc-product-specifications{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 8px;
}
.hc-product-separator{
    border-color: var(--brightness-86);
    opacity: 0.2;
}
@media screen and (max-width: 940px){
    .hc-article-page-container, .hc-gallery-page-container{
        width: 100vw;
        padding: 0 20px;
    }
    .hc-gallery-image{
        width: 100%;
        margin-left: 0 !important;
        margin-bottom: 20px;
    }
    .hc-gallery-image-caption{
        width: 100%;
        margin-bottom: 20px;
    }
    .hc-gallery-fullscreen .hc-gallery-image-caption{
        width: 220px;
        margin-bottom: 0;
    }
    .hc-gallery-image-container{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .hc-gallery{
        width: 100%;
    }
    
}
@media screen and (max-width: 820px){
    .hc-article-page-container .hc-cover-r820{
        width: 100%;
    }   
    .hc-gallery-fullscreen .hc-gallery-image{
        height: auto;
        overflow: hidden;
    }
    .hc-gallery-fullscreen .hc-gallery-image-caption{
        width: 100%;
        margin-left: 0 !important;
        margin-top: 20px;
    }
    .hc-gallery-fullscreen .hc-gallery-image-container{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:700px) {
    .hc-event-page-container{
        flex-direction: column-reverse;
        padding: 0 20px;
    }
    .hc-article-excerpt{
        width: 100%;
    }
    .hc-event-form{
        margin-left: 0;
    }
    
}
@media screen and (max-width:540px) {
    .hc-gallery-fullscreen.hc-gallery-container{
        flex-direction: column;
    }
    .hc-gallery-fullscreen.hc-gallery-container{
        height: 100%;
    }
    .hc-gallery-fullscreen .hc-gallery, .hc-gallery-fullscreen .hc-gallery-image-container{
        height: calc(100% - 75px);
        width: 100vw;
        justify-content: center;
    }
    .hc-gallery-fullscreen .hc-gallery-buttons{
        flex-direction: row;
        border-top: 1px solid var(--brightness-46);
        border-left: none;
        align-items: baseline;
        width: 100vw;
        height: 75px;
    }

    .hc-gallery-fullscreen .hc-gallery-buttons>*{
        margin-right: 20px;
    }
    .hc-gallery-fullscreen .hc-gallery-fullscreen-close{
        margin-bottom: 0;
        margin-right: 80px;
    }
}