.hc-slice-container{
  grid-template-columns: 1fr 940px 1fr;
  display: grid;
  width: 100vw;
  transition: padding-top 0.1s ease-in-out;
}
.hc-slice-slim-container{
  grid-template-columns: 1fr 700px 1fr;
}
.hc-slice-transition{
  transition: padding-top 0.8s ease-in-out;
}
.hc-description p{
  margin-bottom: 20px;
}

.hc-slice-top{
  justify-content: space-between;
}
.hc-slice-contents p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.hc-slice-description>*{
  margin-bottom: 20px;
}
.hc-slice-description>*:first-child{
  margin-top: 0;
}
.hc-slice-description>*:last-child{
  margin-bottom: 0;
}
.hc-divider{
  grid-row: 1;
  grid-column: 1/-1;
  transition: height 0.8s ease-in-out;
  overflow: hidden;
}
.hc-divider-hidden{
  height: 0 !important;
}
.hc-divider.hc-bottom{
  transform: rotateZ(180deg);
  grid-row: 3;
}
.hc-slice-inner-container{
  padding-top: 30px;
  padding-bottom: 30px;
  grid-column: 2;
}
.hc-divider-container{
  position: relative;
  height: 100%;
  overflow: hidden;
}

.hc-card-carousel .pykstream-buttons{
  height: 132px;
  align-self: baseline;
}
.hc-carousel-preview-opened .pykstream-viewport{
  height: fit-content;
}
.hc-carousel-preview-opened .pykstream-slider{
  padding-bottom: 0px !important;
}
.wp-block-group__inner-container p{
  margin-block-start: 20px;
  margin-block-end: 20px;
}
/* Pyk Stream specific styles */ 


.pykstream-prev-button {
  left: -45px;
  top: 0;
  position: absolute !important;
}

.pykstream-prev-button svg {
  left: -1px!important
}

.pykstream-next-button {
  left: 15px;
  top: 0;
  position: absolute !important;
}

.pykstream-next-button svg {
  left: 2px!important
}
.carousel-container .pykstream-next-button{
  left: 50px;
}

.pykstream-buttons {
  width: 53px!important
}

.pykstream-buttons svg {
  stroke: var(--brightness-7) !important;
  z-index: 9;
  margin-left: auto;
  margin-right: auto
}
.hc-cards-white .pykstream-buttons svg{
  stroke: var(--brightness-100) !important;
}
.hc-cards-white .hc-list-show-more, .hc-cards-white .hc-list-show-less{
  color: var(--brightness-100);
}
.hc-cards-black .hc-list-show-more, .hc-cards-black .hc-list-show-less{
  color: var(--brightness-7);
}
.pykstream-buttons:hover svg{
  stroke: var(--brightness-7) !important;
}
.pykstream-buttons:focus{
  outline: none;
}
.pykstream-buttons:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 1;
  bottom: 0;
  right: 4px;
  pointer-events: none;
  width: 45px;
  height: 45px;
  padding: 0;
  background-color:  var(--brightness-100);
  background-position: 50%;
  background-repeat: no-repeat;
  color: transparent;
  border: 0;
  position: absolute;
  outline: 0 none;
  opacity: 1;
  -webkit-border-radius: 0;
  border-radius: 50px;
  transition: opacity .25s ease,background-color .25s ease;
  box-shadow: 0 0 0 1px rgba(128,128,128,.04),0 3px 10px rgba(128,128,128,.4);
  transform: translateY(-50%) scale(1.125)
}

@media screen and (max-width:980px) {
  .hc-slice-inner-container {
    width: 100%;
    padding: 30px 20px;
    grid-column: 1;
  }
  .hc-slice-inner-container.hc-slide{
    flex-direction: column;
  }
  .hc-hero-left .hc-slice-contents-container{
    flex-direction: column;
  }
  .hc-hero-left .hc-slice-contents-container .hc-slice-contents{
    margin-bottom: 20px;
  }
  .hc-slice-container{
    grid-template-columns: 100vw;
  }
  .hc-card-carousel{
    width: inherit;
  }
}
@media screen and (max-width:700px) {
  .carousel-container .pykstream-next-button{
    left: -5px;
  }
}
@media screen and (max-width:540px) {
  /* .hc-slice-inner-container,  */
  .hc-slice-contents-container,
  .hc-slice-top{
    flex-direction: column;
  }
  .hc-slice-with-button-below{
    position: relative;
  }
  .hc-slice-with-button-below .hc-cta-button{
    position: absolute;
    bottom: -20px;
    left: 20px;
  }
  .hc-slice-with-button-below .hc-list-show-more, .hc-slice-with-button-below .hc-list-show-less{
    position: absolute;
    right: 20px;
    bottom: -20px;
  }
  
}