.hc-motion-waves{
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.hc-wave-parallax > use{
    animation: move-forever 35s cubic-bezier(.55, .5, .45, .5) infinite;
}

.hc-wave-parallax>use:nth-child(1) {
    animation-delay: -5s;
    animation-duration: 16s;
}

.hc-wave-parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 19s;
}

.hc-wave-parallax>use:nth-child(3) {
    animation-delay: -2s;
    animation-duration: 22s;
}

.hc-wave-parallax>use:nth-child(4) {
    animation-delay: -8s;
    animation-duration: 29s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}