:root{
  --extra-bold: 900;
  --bold: 800;
  --semi-bold: 600;
  --regular: 400;
  --red:#ae423f;
  --highlight:#fff200;
  --red-dark:#ae423f;
  --red-pastel: #eca9a7;
  --red-faded:#f4cbca;
  --green-dark:#4a934a;
  --green: #5cb85c;
  --green-pastel: #aedcae;
  --green-faded:#ceeace;
  --yellow-dark:#664d03;
  --yellow: #f8e39e;
  --yellow-pastel:#fcf1cf;
  --yellow-faded:#fcf4d8;
  --blue: #0073aa;
  --col-16: 940px;
  --col-14: 820px;
  --col-12: 700px;
  --col-10: 580px;
  --col-8: 460px;
  --col-6: 340px;
  --col-4: 220px;
  --col-2: 160px;
  --col-1: 80px;
  --row-16: 564px;
  --row-14: 492px;
  --row-12: 420px;
  --row-10: 348px;
  --row-8: 276px;
  --row-6: 204px;
  --row-4: 132px;
  --row-2: 96px;
  --row-1: 48px;
  --gx: 20px;
}
.underline{
  text-decoration: underline;
}
.has-background{
  padding: 0;
}
.selectize-input{
  box-shadow: 0 0 0 transparent;
  border-radius: 4px;
  border: 1px solid #7e8993;
  background-color: #fff;
  color: #32373c;
  padding: 0 8px;
  line-height: 2;
  min-height: 30px;
}
p.has-background {
  padding: 1.25em 2.375em !important;
}
.wp-block-group.has-background {
  padding: 16px 0 0;
}
.wp-block-button__link {
  padding: 8px 16px;
  font-family: var(--brand-reading-font);
}
.hc-bg-transparent .wp-block-button__link{
  width: fit-content !important;
  padding: 8px 0 !important;
}
.hc-bg-transparent.wp-block-button{
  text-align: left;
}
.strikethrough{
  text-decoration: line-through;
}

/* Circle Sizes*/
.hc-img-top{
  height: 100%;
}
picture img{
  height: 100%;
}
.is-resized picture img{
  max-width: unset !important;
}
.is-resized{
  margin: 0 !important;
  width: fit-content;
}
.is-resized.aligncenter{
  margin: auto !important;
}
/* BUTTON STYLES */

.hc-btn-structure{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 8px 16px;
  height: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-family: var(--brand-reading-font);
  font-size: var(--brand-reading-size);
  font-weight: var(--extra-bold);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

.hc-btn-primary{
  background-color: var(--primary-main);
  color: var(--primary-faded) !important;
  border: 1px solid var(--primary-main);
}

.hc-btn-primary:hover {
  background: var(--brightness-100);
  color: var(--primary-main) !important;
  border: 1px solid var(--primary-main);
}
.hc-btn-primary:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}

.hc-humane-btn-primary{
  background-color: #6950A1;
  color: #F0EEF6 !important;
  border: 1px solid #6950A1;
}

.hc-humane-btn-primary:hover {
  background: var(--brightness-100);
  color: #6950A1 !important;
  border: 1px solid #6950A1;
}
.hc-humane-btn-primary:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}

.hc-btn-secondary{
  color: var(--primary-main);
  background-color: var(--brightness-100);
  border: 1px solid var(--primary-main);
}
.hc-btn-secondary:hover {
  background: var(--primary-main);
  color: var(--primary-faded);
  border: 1px solid var(--primary-main);
}
.hc-btn-secondary:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}

.hc-humane-btn-secondary{
  color: #6950A1;
  background-color: var(--brightness-100);
  border: 1px solid #6950A1;
}
.hc-humane-btn-secondary:hover {
  background: #6950A1;
  color: #F0EEF6;
  border: 1px solid #6950A1;
}
.hc-humane-btn-secondary:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}

.hc-btn-link{
  color: var(--primary-main);
}
.hc-btn-link:hover {
  color: var(--primary-dark);
}

.hc-humane-btn-link{
  color: #6950A1;
}
.hc-humane-btn-link:hover {
  color: #544081;
}
.hc-btn-link:hover:before {
  -webkit-animation: spinAround 2s linear infinite;
  -moz-animation: spinAround 2s linear infinite;
  animation: spinAround 2s linear infinite;
}

.hc-btn-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.hc-pointer-events-none{
  pointer-events: none;
}
/* HYPERLINK STYLES */

.hc-hyperlink{
  text-decoration: none;
  color: var(--brightness-7);
  cursor: pointer;
}
.hc-external-link{
  border-bottom: 1px dotted;
  color: black;
}
.hc-external-link:hover{
  color: var(--primary-main);
}
.hc-hyperlink a{
  color: inherit;
}

/* HEADINGS STYLES*/

.hc-brand-header-xl, .humane_page_container h1, h1 strong{
  font-family: var(--brand-header-font);
  font-size: var(--brand-header-size-xl);
  font-weight: var(--extra-bold);
  line-height: 54px;
}
.hc-h1-size-of-h2{
  font-size: var(--brand-header-size-m) !important;
  line-height: 1.2 !important;
}
.hc-small-h1{
  font-family: var(--brand-header-font) !important;
  font-size: var(--brand-card-title-size-s) !important;
  line-height: normal !important;
}
.hc-brand-header-m, .humane_page_container h2,h2 strong{
  font-family: var(--brand-header-font);
  font-size: var(--brand-header-size-m);
  font-weight: var(--extra-bold);
}
.hc-brand-header-s, .humane_page_container h3, h3 strong{
  font-family: var(--brand-header-font);
  font-size: var(--brand-header-size-s);
  font-weight: var(--extra-bold);
}
.hc-brand-header-xs, .humane_page_container h4, h4 strong{
  font-family: var(--brand-header-font);
  font-size: 1.3125rem;
  font-weight: var(--extra-bold);
}
.hc-brand-header-xxs, .humane_page_container h5, h5 strong{
  font-family: var(--brand-header-font);
  font-size: 1rem;
  font-weight: var(--extra-bold);
}
/* READING FONT STYLES*/

.hc-brand-reading{
  font-family: var(--brand-reading-font);
  font-size: var(--brand-reading-size);
  font-weight: var(--medium);
  word-break: break-word;
}
.hc-brand-reading-bold{
  font-family: var(--brand-reading-font);
  font-size: var(--brand-reading-size);
  font-weight: var(--extra-bold);
}

/* CARD TITLE STYLES*/

.hc-brand-card-title-s {
  font-family: var(--brand-header-font);
  font-size: var(--brand-card-title-size-s);
  font-weight: var(--bold);
}
.hc-brand-card-title-xs{
  font-family: var(--brand-header-font);
  font-size: var(--brand-card-title-size-xs);
  font-weight: var(--bold);
  overflow: hidden;
  display: inline-block;
}
.hc-uppercase{
	text-transform: uppercase !important;
}
.hc-bold{
  font-weight: var(--bold);
}
.hc-font-weight-medium{
  font-weight: var(--medium) !important;
}
.hc-capitalize{
	text-transform: capitalize !important;
}
/* SUPERNORMAL STYLES*/
.hc-supernormal-m {
  font-family: var(--supernormal-font);
  font-size: var(--supernormal-size-m);
  font-weight: var(--regular);
}
.hc-supernormal-s {
  font-family: var(--supernormal-font);
  font-size: var(--supernormal-size-s);
  font-weight: var(--regular);
}
.hc-supernormal-s-bold {
  font-family: var(--supernormal-font);
  font-size: var(--supernormal-size-s);
  font-weight: var(--bold);
  line-height: var(--supernormal-size-s);
}
.hc-supernormal-xs-bold {
  font-family: var(--supernormal-font);
  font-size: var(--supernormal-size-xs);
  font-weight: var(--bold);
  line-height: var(--supernormal-size-s);
}
.hc-supernormal-xs {
  font-family: var(--supernormal-font);
  font-size: var(--supernormal-size-xs);
  line-height: var(--supernormal-size-s);
}
/* Inter */

.hc-inter{
  font-family: "Inter" !important;
  font-weight: var(--regular);
}
.hc-inter-bold{
  font-family: "Inter" !important;
  font-weight: var(--semi-bold);
}
/* TEXT COLOR STYLES*/

.hc-text-primary-dark, .hc-text-primary-dark *{
  color: var(--primary-dark);
}
.hc-text-primary-main, .hc-text-primary-main *{
  color: var(--primary-main);
}
.hc-text-primary-pastel, .hc-text-primary-pastel *{
  color: var(--primary-pastel);
}
.hc-text-primary-faded, .hc-text-primary-faded *{
  color: var(--primary-faded);
}
.hc-text-secondary-main, .hc-text-secondary-main *{
  color: var(--secondary-main);
}

.hc-humane-text-primary-dark, .hc-humane-text-primary-dark *{
  color: #544081;
}
.hc-humane-text-primary-main, .hc-humane-text-primary-main *{
  color: #6950A1 !important;
}
.hc-humane-text-primary-pastel, .hc-humane-text-primary-pastel *{
  color: #B4A8D0;
}
.hc-humane-text-primary-faded, .hc-humane-text-primary-faded *{
  color: #F0EEF6 !important;
}
.hc-humane-text-secondary-main, .hc-humane-text-secondary-main *{
  color: #5BC3BE;
}

.hc-text-brightness-7{
  color: var(--brightness-7) !important;
}
.hc-text-brightness-20{
  color: var(--brightness-20) !important;
}
.hc-text-brightness-46{
  color: var(--brightness-46) !important;
}
.hc-text-brightness-60{
  color: var(--brightness-60) !important;
}
.hc-text-brightness-86{
  color: var(--brightness-86) !important;
}
.hc-text-brightness-93{
  color: var(--brightness-93) !important;
}
.hc-text-brightness-97{
  color: var(--brightness-97) !important;
}
.hc-text-brightness-100{
  color: var(--brightness-100) !important;
}
.hc-text-red{
  color: var(--red);
}
.hc-text-green{
  color: var(--green);
}
/* TEXT ALIGNMENT STYLES*/
.hc-text-center{
  text-align: center;
}
.hc-text-right{
  text-align: right;
}
.hc-text-left{
  text-align: left;
}


/* TEXT DECORATION STYLES*/
.hc-text-decoration-underline{
  text-decoration: underline;
}
.hc-text-decoration-strikethrough{
  text-decoration: line-through;
}
.hc-text-decoration-none{
  text-decoration: none;
}
a{
  text-decoration: none;
}
/* BACKGROUND COLOR STYLES*/
.hc-bg-transparent, .hc-bg-transparent *{
  background-color: transparent !important;
}
.hc-bg-primary-dark{
  background-color: var(--primary-dark)
}
.hc-bg-primary-main{
  background-color: var(--primary-main)
}
.hc-bg-primary-pastel{
  background-color: var(--primary-pastel)
}
.hc-bg-primary-faded{
  background-color: var(--primary-faded) !important;
}
.hc-bg-secondary-main{
  background-color: var(--secondary-main);
}

.hc-humane-bg-primary-dark{
  background-color: #544081;
}
.hc-humane-bg-primary-main{
  background-color: #6950A1;
}
.hc-humane-bg-primary-pastel{
  background-color: #B4A8D0;
}
.hc-humane-bg-primary-faded{
  background-color: #F0EEF6;
}
.hc-humane-bg-secondary-main{
  background-color: #5BC3BE;
}

.hc-bg-brightness-7{
  background-color: var(--brightness-7);
}
.hc-bg-brightness-20{
  background-color: var(--brightness-20);
}
.hc-bg-brightness-46{
  background-color: var(--brightness-46);
}
.hc-bg-brightness-60{
  background-color: var(--brightness-60);
}
.hc-bg-brightness-86{
  background-color: var(--brightness-86);
}
.hc-bg-brightness-93{
  background-color: var(--brightness-93);
}
.hc-bg-brightness-97{
  background-color: var(--brightness-97);
}
.hc-bg-brightness-100{
  background-color: var(--brightness-100);
}
.hc-bg-red{
  background-color: var(--red);
}
.hc-bg-green{
  background-color: var(--green);
}
/* BORDER STYLES*/
.hc-border-rounded-0{
  border-radius: 0px !important;
}
.hc-border-rounded-4{
  border-radius: 4px;
}
.hc-border-rounded-right-4{
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.hc-border-rounded-left-4{
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.hc-border-rounded-8{
  border-radius: 8px;
}
.hc-border-rounded-16{
  border-radius: 16px;
}
.hc-border-brightness-60{
  border: 1px solid var(--brightness-60);
}
.hc-border-brightness-86{
  border: 1px solid var(--brightness-86);
}
.hc-border-primary-main{
  border: 1px solid var(--primary-main);
}
.hc-border-top-brightness-86{
  border-top: 1px solid var(--brightness-86);
}
.hc-border-bottom-brightness-86{
  border-bottom: 1px solid var(--brightness-86);
}
.hc-border-right-brightness-86{
  border-right: 1px solid var(--brightness-86);
}
.hc-border-left-brightness-86{
  border-left: 1px solid var(--brightness-86);
}
.hc-border-bottom-brightness-7{
  border-bottom: 1px solid var(--brightness-7);
}
.hc-humane-border-primary-main{
  border: 1px solid #6950A1;
}

.hc-border-right-none{
  border-right: none;
}
/* MARGIN */
.hc-mx-auto{
  margin-left: auto;
  margin-right:auto;
}
.hc-m-auto{
  margin: auto;
}
.hc-m-0{
  margin: 0px;
}
.hc-mt-0{
  margin-top: 0px !important;
}
.hc-mb-0{
  margin-bottom: 0px !important;
}
.hc-ml-0{
  margin-left: 0px !important;
}
.hc-mr-0{
  margin-right: 0px !important;
}
.hc-mx-0{
  margin-left: 0px;
  margin-right: 0px;
}
.hc-my-0.hc-my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}
.hc-mt-4{
  margin-top: 4px !important;
}
.hc-m-8{
  margin: 8px;
}
.hc-mt-8{
  margin-top: 8px !important;
}
.hc-mb-8{
  margin-bottom: 8px !important;
}
.hc-mb-negative-8{
  margin-bottom: -8px !important;
}
.hc-ml-8{
  margin-left: 8px !important;
}
.hc-mr-8{
  margin-right: 8px !important;
}
.hc-mx-8{
  margin-left: 8px;
  margin-right: 8px;
}
.hc-my-8{
  margin-top: 8px;
  margin-bottom: 8px;
}
.hc-mr-15{
  margin-right: 15px !important;
}
.hc-mb-16{
  margin-bottom: 16px !important;
}
.hc-m-20{
  margin: 20px;
}
.hc-mt-20{
  margin-top: 20px !important;
}
.hc-mt-20-desktop{
  margin-top: 20px !important;
}
.hc-mb-20{
  margin-bottom: 20px !important;
}
.hc-ml-20{
  margin-left: 20px !important;
}
.hc-mr-20{
  margin-right: 20px !important;
}
.hc-mr-20-desktop{
  margin-right: 20px !important;
}
.hc-mx-20-mobile{
  margin-right: 0;
  margin-left: 0;
}
.hc-mx-20{
  margin-left: 20px;
  margin-right: 20px;
}
.hc-my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}

.hc-m-40{
  margin: 40px;
}
.hc-mt-40{
  margin-top: 40px !important;
}
.hc-mb-40{
  margin-bottom: 40px !important;
}
.hc-ml-40{
  margin-left: 40px !important;
}
.hc-mr-40{
  margin-right: 40px !important;
}
.hc-mx-40{
  margin-left: 40px;
  margin-right: 40px;
}
.hc-my-40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.hc-my-60{
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.hc-mb-60{
  margin-bottom: 60px !important;
}
/* PADDING */

.hc-p-0-children *{
  padding: 0px !important;
}
.hc-p-0{
  padding: 0px !important;
}
.hc-pt-0{
  padding-top: 0px;
}
.hc-pb-0{
  padding-bottom: 0px;
}
.hc-pl-0{
  padding-left: 0px;
}
.hc-pr-0{
  padding-right: 0px;
}
.hc-px-0{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.hc-py-0{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.hc-py-4{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.hc-p-8{
  padding: 8px !important;
}
.hc-pt-8{
  padding-top: 8px;
}
.hc-pb-8{
  padding-bottom: 8px;
}
.hc-pl-8{
  padding-left: 8px;
}
.hc-pr-8{
  padding-right: 8px;
}
.hc-px-8{
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.hc-py-8{
  padding-top: 8px;
  padding-bottom: 8px;
}

.hc-p-20{
  padding: 20px !important;
}
.hc-pt-20{
  padding-top: 20px;
}
.hc-pb-20{
  padding-bottom: 20px;
}
.hc-pl-20{
  padding-left: 20px !important;
}
.hc-pr-20{
  padding-right: 20px;
}
.hc-px-20{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.hc-py-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.hc-py-30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.hc-pl-40{
  padding-left: 40px !important;
}
.hc-px-40{
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.hc-py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.hc-pt-60{
  padding-top: 60px;
}


/* ALETRT STYLES */
.hc-alert{
  border-radius: 8px;
  padding: 8px;
}
.hc-alert-danger{
  background-color: var(--red-faded);
  border: 1px solid var(--red);
  color: var(--red-dark);
}
.hc-alert-success{
  background-color: var(--green-faded);
  border: 1px solid var(--green);
  color: var(--green-dark);
}
.hc-alert-warning{
  background-color: var(--yellow-faded);
  border: 1px solid var(--yellow);
  color: var(--yellow-dark);
}


/* BOX SHADOW STYLES */
.hc-box-shadow{
  box-shadow: 0 0 15px var(--brightness-86);
  background-color: var(--brightness-100);
}
/* GRID STYLES */
.hc-grid{
  display: grid;
}
/* FLEXBOX STYLES */

.hc-fx{
  display: flex;
  flex-direction: row;
}
.hc-fx-reverse{
  display: flex;
  flex-direction: row-reverse;
}
.hc-flex-gap-20{
  gap: 20px;
}
.hc-flex-gap-20.hc-fy > *{
  margin-bottom: 20px;
}

.hc-fx.hc-center{
  justify-content: center;
  align-items: center;
}
.hc-flex-wrap{
  flex-wrap: wrap;
}
.hc-fy{
  display: flex;
  flex-direction: column;
}
.hc-fy.hc-center{
  justify-items: center;
  align-content: center;
}
.hc-flex-between{
  justify-content: space-between;
}
.hc-flex-evenly{
  justify-content: space-evenly;
}
.hc-flex-start{
  justify-content: start;
}
.hc-flex-center{
  justify-content: center;
}
.hc-flex-items-center{
  justify-items: center;
}
.hc-justify-content-end{
  justify-content: flex-end;
}
.hc-justify-self-end{
  justify-self: end;
}
.hc-flex-start{
  align-items: flex-start;
}
.hc-flex-end{
  align-items: flex-end;
}
.hc-flex-self-end{
  align-self: flex-end;
}
.hc-flex-align-center{
  align-items: center;
}
.hc-flex-align-baseline{
  align-items: baseline;
}
.hc-flex-no-shrink{
  flex-shrink: 0;
}
.hc-flex-no-grow{
  flex-grow: 0;
}
.hc-flex-shrink{
  flex-shrink: 1;
}
.hc-flex-grow{
  flex-grow: 1;
}
.hc-flex-align-self-center{
  align-self: center;
}

/* IMAGES 5:3 ASPECT RATIO (rect) */
.hc-contain{
  object-fit: contain;
}
.hc-cover{
  object-fit: cover;
}
.hc-cover-r940{
  width: 940px;
  max-height: 564px;
}
.hc-cover-r820{
  width: 820px;
  max-height: 492px
}
.hc-cover-r700{
  width: 700px;
  max-height: 420px;
}
.hc-cover-r700 img{
  max-height: 420px;
  object-fit: contain;
}
.hc-cover-r580{
  width: 580px;
  max-height: 348px;
}
.hc-cover-r460{
  width: 460px;
  max-height: 276px;
}
.hc-cover-r340{
  width: 340px;
  max-height: 204px;
}
.hc-max-cover-r220{
  max-width: 220px;
  max-height: 132px;
}
.hc-cover-r220{
  width: 220px;
  max-height: 132px;
}
.hc-cover-r160{
  width: 160px;
  max-height: 96px;
}
.hc-cover-r100{
  width: 100px;
  max-height: 60px;
  flex-shrink: 0;
}
.hc-cover-r80{
  width: 80px;
  max-height: 48px;
  flex-shrink: 0;
}

/* IMAGES 1:1 ASPECT RATIO (sqaure) */

.hc-cover-s940{
  width: 940px !important ;
  max-height: 940px !important ;
 }
.hc-cover-s820 {
  width: 820px !important ;
  max-height: 820px !important ;
 }
.hc-cover-s700 {
  width: 700px !important ;
  max-height: 700px !important ;
 }
.hc-cover-s580 {
  width: 580px !important ;
  max-height: 580px !important ;
 }
.hc-cover-s460 {
  width: 460px !important ;
  max-height: 460px !important ;
 }
.hc-cover-s340 {
  width: 340px !important ;
  max-height: 340px !important ;
 }
.hc-cover-s80 {
  width: 80px !important ;
  max-height: 80px !important ;
}
.hc-cover-s48 {
  width: 48px !important ;
  max-height: 48px !important ;
 }
 .hc-cover-h48 {
  height: 48px !important ;
  width: auto !important ;
 }
.hc-cover-s35 {
  width: 35px !important ;
  max-height: 35px !important ;
}
/* COLUMN WIDTHS */

.hc-col-16 {
  width: var(--col-16);
}
.hc-col-14 {
  width: var(--col-14);
}
.hc-col-12 {
  width: var(--col-12);
}
.hc-col-10 {
  width: var(--col-10);
}
.hc-col-8 {
  width: var(--col-8);
}
.hc-col-6 {
  width: var(--col-6);
}
.hc-col-4 {
  width: var(--col-4) !important;
}
.hc-col-2 {
  width: var(--col-2);
}
.hc-col-1 {
  width: var(--col-1) !important;
}
/* MAXIMUM COLUMN WIDTHS */

.hc-max-col-16 {
  max-width: var(--col-16) !important;
}
.hc-max-col-14 {
  max-width: var(--col-14) !important;
}
.hc-max-col-12 {
  max-width: var(--col-12) !important;
}
.hc-max-col-10 {
  max-width: var(--col-10) !important;
}
.hc-max-col-8 {
  max-width: var(--col-8) !important;
}
.hc-max-col-6 {
  max-width: var(--col-6) !important;
}
.hc-max-col-4 {
  max-width: var(--col-4) !important;
}
.hc-max-col-2 {
  max-width: var(--col-2) !important;
}
.hc-max-col-1 {
  max-width: var(--col-1) !important;
}
.hc-max-width-unset{
  max-width: unset !important;
}
/* ROW WIDTHS */

.hc-row-16 {
  height: var(--row-16);
}
.hc-row-14 {
  height: var(--row-14);
}
.hc-row-12 {
  height: var(--row-12);
}
.hc-row-10 {
  height: var(--row-10);
}
.hc-row-8 {
  height: var(--row-8);
}
.hc-row-6 {
  height: var(--row-6);
}
.hc-row-4 {
  height: var(--row-4);
}
.hc-row-2 {
  height: var(--row-2);
}
.hc-row-1 {
  height: var(--row-1);
}
/* SEPERATOR STYLES*/

.hc-solid-divider{
  border: 1px solid;
  margin-bottom: 20px;
  background: black;
  width: 100%;
}
.hc-dotted-divider{
  border: .5px dotted;
  margin-bottom: 20px;
  width: 100%;
}
hr.hc-divider{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}
.hc-light-divider{
  border-top: 1px solid var(--brightness-86);
}
.hc-secondary-main-divider{
  border-top: 3px solid var(--secondary-main);
}

.hc-dp-xl, .hc-dp-xl picture{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.hc-dp-l, .hc-dp-l picture{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.hc-dp-m, .hc-dp-m picture{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.hc-dp-s, .hc-dp-s picture{
  width: 48px;
  height:48px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}
.hc-dp-xs, .hc-dp-xs picture{
  width: 32px;
  height:32px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.hc-dp-l>img, .hc-dp-m>img, .hc-dp-s>img, .hc-dp-xs>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Wrap Styles */
.hc-wrap{
  white-space: normal !important;
}
.hc-no-wrap{
  white-space: nowrap;
}
.hc-word-break-all{
  word-break: break-all;
}
/* Display styles */ 
.hc-visibility-hidden{
  visibility: hidden;
}
.hc-display-none{
  display: none !important;
}
.hc-display-block{
  display: block;
}
.hc-display-inline-block{
  display: inline-block;
}
.hc-display-inline-flex{
  display: inline-flex;
}
.hc-overflow-hidden{
  overflow: hidden;
}
.hc-overflow-auto{
  overflow: auto;
}
/* Icon Container */

.hc-icon-container{
  display: inline-block;
}

/* Show and hide contents based on breakpoints*/
.hc-show-540{
  display: none;
}

/* Position classes. */

.hc-position-relative{
  position: relative;
}

/* Border classes */ 

.hc-no-border{
  border: none !important;
}
.hc-no-outline{
  outline: none !important;
}
/* Aspect ratio classes. */

.hc-aspect-1-1{
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.hc-aspect-1-1>*{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hc-aspect-5-3{
  height: 0;
  width: 100%;
  padding-top: 60%;
  position: relative;
}
.hc-aspect-5-3>*{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* Badge styles */ 

.hc-badge{
  padding: 4px 10px;
  white-space: nowrap;
  line-height: initial;
}
.bg-primary{
  background-color: #6950A1 !important;
  color: var(--brightness-97) !important;
}
.bg-light{
  background-color: var(--brightness-93) !important;
}
.bg-secondary{
  background-color: #5BC3BE !important;
}
/* Dimension styles */
.hc-width-fit-content-children *{
  width: fit-content !important;
}
.hc-width-fit-content{
  width: fit-content;
}
.hc-width-fit-container{
  width: 100%;
}

.hc-height-fit-content{
  height: fit-content;
}

.hc-height-fit-container{
  height: 100% !important;
}
.hc-width-full{
  /* width: 100vw; */ 
  /* commented this css to make pages wprk in sidemodal */
}

.hc-height-full{
  height: 100vh;
}

.hc-cursor-pointer{
  cursor: pointer;
} 

.hc-text-center{
  text-align: center;
}
.wp-block-button.aligncenter{
  text-align: center;
}
.wp-block-button.alignright{
  text-align: right;
}
.hc-line-height-reset{
  line-height: 1;
}
/* NOTIFICATIONS STYLES */ 

.hc-notification{
  position: absolute;
  right: 0;
  top: -5px;
  border-radius: 50%;
  background: var(--red);
  width: 15px;
  height: 15px;
  color: var(--brightness-100);
  font-family: var(--brand-reading-font);
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: var(--supernormal-size-xs);
  font-weight: var(--bold);
}
.hc-body-no-scroll{
  overflow: hidden;
  height: 100vh;
  margin-top: 20px;
}
.hint{
	color: var(--brightness-20);
	font-size: var(--supernormal-size-s);
	margin-top: 0px;
	padding-top: 0px;
}
.hc-user-hidden{
  display: none;
}
b, strong{
  font-weight: bold;
}
.wp-admin .hc-user-hidden{
  opacity: 0.5;
  display: block;
}
/* Media queries for between ___ and ____*/
@media screen and (max-width: 1300px){
  .hc-hide-1300{
    display: none !important;
  }
}
@media screen and (max-width:980px) {
  .hc-col-8 {
    width: 49%;
  }
}
@media screen and (max-width:940px) {
  .hc-p-0-children-940 *{
    padding: 0px !important;
  }
  .hc-width-fit-content-children-940 *{
    width: fit-content !important;
  }
  .hc-col-16, .hc-col-12 {
    width: 100vw;
    padding: 0 20px;
  }
  .hc-940-px-40{
    padding-left: 40px;
    padding-right: 40px;
  }
  .hc-940-px-20{
    padding-left: 20px;
    padding-right: 20px;
  }
  .hc-940-mx-20{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width:780px) {
  body {
    margin-top: 20px !important;
  }
  .hc-btn-structure{
    flex-shrink: 0;
  }
  .hc-preview-bottom {
    flex-direction: column;
  }
}

/* Media queries for between ___ and ____*/

@media screen and (max-width:540px) {
  .hc-body-no-scroll-mobile{
    overflow: hidden;
    height: 100vh;
    margin-top: 20px;
  }
  .hc-540-width-fit-page-80{
    width: 80vw;
  }
  .hc-mx-20-mobile{
    margin-right: 20px;
    margin-left: 20px;
  }
  .hc-fy-540{
    flex-direction: column !important;
  }
  .hc-ml-0-mobile{
    margin-left: 0 !important;
  }
  .hc-mt-20-desktop{
    margin-top: 0px !important;
  }
  .hc-mt-20-mobile{
    margin-top: 20px !important;
  }
  .hc-mr-20-desktop{
    margin-right: 0 !important;
  }
  h1{
    font-size: var(--brand-header-size-m) !important;
    line-height: initial !important;
  }
  h2{
    font-size: var(--brand-header-size-s) !important;
  }
  .hc-brand-header-xl{
    font-size: var(--brand-header-size-m) !important;
    line-height: initial !important;
  }
  .hc-brand-header-m{
    font-size: var(--brand-header-size-s) !important;
  }
  .hc-cover-s460, .hc-col-8 {
    width: 100% !important;
  }
  .hc-hide-540{
    display: none !important;
  }
  .hc-show-540{
    display: flex;
  }
  .hc-cover-r460{
    width: 100%;
    height: auto;
  }
}

@media (max-width: 340px){
  .wp-block-column {
      flex-basis: 100%!important;
  }
}