@media screen and (max-width:980px) {
    .hc-slide .hc-cover-s460,.hc-slide .hc-col-8 {
      width: 100%;
    }
}
@media screen and (max-width:840px) {
    .hc-slide.hc-slice-inner-container>.hc-fx {
      flex-direction: column;
    }
}