.hc-nudge-hellobar{
  padding: 16px;
  width: 100vw;
  justify-content: center;
  z-index: 10006;
}
.hc-nudge-hellobar.hc-top{
  position: fixed;
  top: 0;
  left: 0;
}
.admin-bar .hc-top{
  margin-top: 32px;
}
.hc-nudge-hellobar.hc-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
}
.hc-nudge-bot-container{
  position: fixed;
  right: 20px;
  bottom: 100px;
  max-height: 560px;
  z-index: 11000;
}
.hc-nudge-bot-page{
  background-color: var(--brightness-100);
  grid-row: 1;
  grid-column: 1;
}
.hc-nudge-svg-icon{
  background-color: var(--primary-main);
  display: grid;
}
.hc-nudge-form-header{
  align-items: center;
}


.hc-chat-icon-svg, 
.hc-chat-close-svg {
  justify-self: center;
  align-self: center;
}
.hc-nudge-bot-open {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-grid-column-align: end;
  justify-self: end;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 3000;
}
.hc-chat-icon-container {
  display: grid;
}

.hc-nudge-dismiss-icon{
  top: 8px;
  right: 15px;
  position: absolute;
}
.hc-nudge-cta, .hc-nudge-dismiss{
  cursor: pointer;
}
.hc-nudge-postit{
  width: var(--col-6);
  padding: 16px;
  background-color: var(--yellow);
  border-radius: 8px;
  align-items: center;
  text-align: center;
  justify-self: center;
  transform: rotate(2deg);
}
.hc-modal-letter-container{
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background: rgba(0,0,0,0.5);
}
.hc-nudge-top-whatsnew{
  background-color: var(--primary-main);
  padding: 8px 16px;
  font-family: var(--brand-reading-font);
  font-size: var(--brand-reading-size);
  color: var(--primary-faded);
  border-radius: 4px;
  display: inline-flex;
}
.hc-nudge-scroll{
  max-height: 400px;
  overflow: auto;
}
.hc-main-nudge-page{
  z-index: 1000000;
}
.hc-nudge-letter{
  width: var(--col-10);
  background-color: var(--yellow);
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  justify-self: center;
  transform: rotate(-2deg);
}
.hc-nudge-bot{
  width: 420px;
  box-shadow: 0 0 15px var(--brightness-86);
  border-radius: 8px;
  max-height: 0;
  overflow: auto;
  transition: max-height 0.7s ease-in;
  display: grid;
}
.hc-nudge-bot.hc-form-visible{
  max-height: 560px;
}
.hc-nudge-bot-top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 30px;
}
.hc-nudge-icon{
  width: 32px;
  height: 32px;
}
.hc-bot-section{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 4px;
  box-shadow: 0 0 15px var(--brightness-86);
}

.hc-form-visible .hc-nudge-icon{
  display: inline-block;
}
.hc-form-container.hc-nudge-bot-page.hc-visible {
  z-index: 1000000;
}
.hc-back-action{
  cursor: pointer;
}
.hc-nudge-bot-greeting{
  position: fixed;
  bottom: 80px;
  max-width: 160px;
  opacity: 0;
  pointer-events: none;
  right: 20px;
  width: fit-content;
  background: var(--brightness-86);
  border-radius: 8px;
  height: fit-content;
  transition: max-height .7s ease-in .5s;
  max-height: 0;
  overflow: hidden;
}
.hc-nudge-bot-transition .hc-nudge-bot-greeting{
  opacity: 1;
  pointer-events: auto;
  max-height: 200px;
}
@media screen and (max-width: 640px) {
  .hc-nudge-letter{
    width: 90vw;
  }
}
@media screen and (max-width: 460px) {

  .hc-nudge-bot.hc-form-visible{
    max-height: 73vh;
  }
  .hc-nudge-bot, .hc-nudge-scroll{
    width: 90vw;
  }
}