.hc-subheader{
    border-bottom: 1px solid var(--brightness-86);
    width: var(--col-16);
    grid-column: 2;
}
.hc-subheader-container{
    /* display: flex;
    justify-content: center; */
    z-index: 100;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
}

@media screen and (max-width:1020px) {
    .hc-subheader{
       width: 100vw;
       padding: 10px 20px;
    }
}