.hc-author-list-item{
    border: 3px solid var(--brightness-100);
}
.hc-terms {
    flex-wrap: wrap;
    max-height: 32px;
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
}

.pytitle{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 910px;
}
.hc-contains-sidebar .pytitle{
    max-width: unset;
    white-space: normal;
}
@media screen and (max-width:700px) {
    .cognitively-list-view{
        width: 90vw !important;
    }
    .list-table-row{
        width: 100%;
    }
    .pytitle{
        font-size: var(--brand-card-title-size-xs);
        white-space: unset !important;
    }
}