.hc-card-list-xs{
  width: 100%;
  max-height: 150px;
  display: grid;
  grid-gap: 8px;
  grid-template-rows: auto 1fr;
  padding-bottom: 10px;
  padding-top: 15px;
  max-width: 500px;
  border-bottom: 1px solid var(--brightness-86);
}

.hc-list>div:last-of-type {
  border: none;
}
.hc-list-closed .hc-card-list-xs[data-hidden="1"]{
  display: none;
}
.hc-list-closed .hc-list-buttons{
  display: none;
}
.hc-list-show-more{
  display: none;
}
.hc-list-closed .hc-list-show-more{
  display: flex;
}
.hc-list-closed .hc-list-cards-container {
  overflow: hidden;
}
.hc-list.hc-list-closed .hc-list-card-hidden{
  display: none;
}