
.hc-site-description{
    width: var(--col-4);
}
.hc-header-container{
    grid-column: 2;
    z-index: 100 !important;
}
.hc-header-megadropdown-container{
    box-shadow: 0 0 15px var(--brightness-86);
    background-color: var(--brightness-100);
    position: absolute;
    right: -20px;
    top: 40px;
    display: none;
    max-width: 940px;
    width: calc(100vw - 60px); 
}
.hc-humane-attribution-badge{
    position: fixed!important;
    visibility: visible!important;
    z-index: 2147483646!important;
    top: auto!important;
    left: 12px!important;
    bottom: 12px!important;
    color: var(--brightness-7);
    background: var(--brightness-100);
    border-radius: 8px!important;
    opacity: 1!important;
    text-decoration: none!important;
    transform: none!important;
    margin: 0!important;
    width: auto!important;
    height: auto!important;
    overflow: visible!important;
    white-space: nowrap;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    cursor: pointer;
}
.hc-humane-attribution{
    width: 62px;
    font-family: 'Avenir';
    color: var(--brightness-7);
    font-size: 14px;
    text-align: right;
}
.hc-humane-attribution:hover{
    color: #6950A1;
}
.hc-header-megadropdown-container.hc-visible{
    display: block;
}
.hc-sister-header-items{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.hc-dropdown-container{
    position: relative;
   
}
.hc-dropdown{
    box-shadow: 0 0 15px var(--brightness-86);
    box-sizing: content-box;
    display: none;
    position: absolute;
    top: 25px;
    z-index: 100;
    right: 0;
    width: fit-content;
    background: var(--brightness-100);
    padding: 20px;
}
.humane_not_front_page .hc-dropdown{
    top: 30px;
}
.hc-dropdown-open{
    position: relative;
}
.hc-modal{
    position: relative;
}
.hc-dropdown-open, .hc-modal-open{
    cursor: pointer;
}
.hc-dropdown-open *, .hc-modal-open *{
    pointer-events: none;
}
.hc-dropdown *{
    pointer-events: auto;
}

.hc-dropdown.hc-visible{
    display: flex;
}
.hc-main-header{
    width: 100vw;
    background: var(--brightness-100);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
}

.hc-header-items{
    grid-row: 2;
    grid-column: 2;
    z-index: 5;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
}

.hc-header-items-list{
    overflow: hidden;
    flex-direction: row;
}


.hc-small-header-icon{
    flex-grow: 1;
    display: none;
}
/* Not front page header style */
.humane_not_front_page .hc-header-items {
    /*max-height: 25px; */
    z-index: 5;
    position: relative;
    padding: 0;
}
@media screen and (min-width: 900px) {
    .hc-header-megadropdown-container{
        width: calc(100vw - 60px);
        max-height: 80vh;
        overflow: auto;
    }
    }
@media screen and (max-width:1020px) {
    .hc-header-container{
        grid-column: 1;
    }
    .hc-header-items{
        grid-column: 1;
    }
    .hc-main-header{
       width: 100vw;
       grid-template-columns: 100%;
    }
   
}

@media screen and (max-width:700px) {
    .hc-main-header .hc-site-description{
        display: none;
    }
    .hc-main-header{
        padding: 0 20px;
    }
}