.hc-single-subscription{
    flex-basis: 280px;
    flex-shrink: 0;
    flex-grow: 1;
}
.hc-tab-first{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.hc-tab-last{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.hc-subscription-tab{
  border: 1px solid var(--primary-main);
}
.hc-tab-active{
  background-color: var(--primary-main);
  color: var(--primary-faded) !important;
}
.hc-backend-tab-active{
  background-color: #6950A1;
  color: #F0EEF6 !important;
}
.hc-backend-tab-active .hc-badge.hc-humane-bg-primary-main{
  background-color: var(--brightness-97);
  color: var(--brightness-7) !important;
}
.hc-confirmation-screen{
  background-image: url("https://www.pngonly.com/wp-content/uploads/2017/06/transparent-confetti-png-10207.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.3;
}