.hc-perspectives-container, .dashboard-container.perspectives{
    font-family: var(--brand-reading-font);
    max-width: 940px;
    width: 100%;  /* added to make 10000ft for data dashboard responsive on side modal */
   
}
@media screen and (max-width:940px) {
  .hc-perspectives-container, .dashboard-container.perspectives{
    width: 100vw !important;
  }
}
@media screen and (max-width:820px) {
    .hc-datastory-content{
      margin-right: 0 !important;
    }
}
@media screen and (max-width:940px) {
  .hc-perspectives-container{
    width: 100% !important;
  }
}