.hc-form-inputbox{
  height: 48px;
}
.hc-form-select{
  height: 48px;
  -webkit-appearance: none;
}
.hc-form-textarea{
  height: 160px !important;
}
input.form-control[readonly] {
  background-color: var(--brightness-93
  );
}

.hc-search{
  font-family: var(--brand-reading-font);
  letter-spacing: 0;
  font-size: var(--brand-header-size-m);
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--brightness-86);
}

.hc-input-text-filled .hc-input-clear{
  display: inline-block;
}

.hc-input-clear{
  display: none;
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}
.hc-search-icon{
  position: absolute;
  top: 11px;
}
.hc-search-page .hc-input-clear{
  top: 45%;
}
.hc-search-page .hc-search-icon{
  top: 35%;
}
.hc-input-text input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--brightness-60);
  opacity: 1; /* Firefox */
}

.hc-header-search{
  font-family: var(--brand-reading-font);
  letter-spacing: 0;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--brightness-60);
  font-size: 12px;
}
.hc-search::placeholder, .hc-header-search::placeholder{
  color: var(--brightness-86);
}
.hc-form-styles{
  width: 100%;
  font-family: var(--brand-reading-font);
  font-size: var(--brand-reading-size);
  padding: 8px;
  border: 1px solid var(--brightness-60);
  border-radius: 8px;
  color: var(--brightness-46);
}
.hc-form-styles::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--brightness-46);
}
.hc-dropdown-container .hc-icon-container{
  position: absolute;
  top: 22px;
  right: 10px;
  pointer-events: none;
}
.hc-confirm-screen{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 40px;
}
.hc-success-icon{
  width: 50px;
  height: 50px;
}
.hc-success-icon img{
  height: 100%;
  width: auto;
}
.hc-success-button{
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-end;
}
.hc-success-description{
  text-align: center;
}
.hc-contact-form-wrapper{
  max-width: 460px;
}
.hc-submission-message {
  border: 1px solid var(--brightness-60);
  border-radius: 8px;
  position: relative;
}
.hc-submission-message form {
  opacity: 0;
}

.hc-toggle-container{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-gap: 40px;
}
.hc-attach-document{
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: 0px;
}
.hc-attach-document input{
  border-radius: .25rem 0 0 .25rem !important;
}
.hc-attach-document button{
  display: block;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  border-width: unset;
  background-color: #e9ecef;
  border: 1px solid #ced4da !important;
  border-color: #e9ecef;
  border-image: unset;
  border-style: unset;
  border-radius: 0 .25rem .25rem 0;
}

.hc-hidden-file{
  position: absolute;
  opacity: 0;
  z-index: -1000;
}
.hc-form-modal .hc-update-slice-modal{
  display: none;
}

.hc-label label{
  width: 100%;
}
.hc-input-photo{
  width: 100px;
  height: 100px;
  cursor: pointer;
  object-fit: cover;
}

.hc-required{
  color: var(--red);
}

/* The switch - the box around the slider */
.hc-toggle-switch {
  position: relative;
  display: inline-block;
  width: fit-content;
}


.hc-input-text{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  grid-auto-columns: auto;
  grid-gap: 15px;
}

/* Selectize changes */

.selectize-control.plugin-remove_button .remove-single{
  display: none;
}
.selectize.pinned_stories .selectize-dropdown-content{
  max-height: 600px !important;
}
.selectize-dropdown-content .create {
  display: none !important;
}
.selectize-control .selectize-input.disabled{
  opacity: 1 !important;
  background-color: var(--brightness-93);
}

/*Placeholders CSS */


.placeholder-modal{
  width: 450px;
  position: absolute;
  top: 50px;
  right: 0;
  /* border: 1px solid black; */
  opacity: 0;
  z-index: -100;
  pointer-events: none;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.placeholder-pills{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: 60px;
  grid-row: 1;
  grid-column: 1;
}
.placeholder-pills .badge{
  margin-right: 10px;
  margin-bottom: 10px;
}
.placeholder-pills.show{
  opacity: 1;
  pointer-events: auto;
}
.placeholder-tabs{
  border-right: 1px solid lightgrey;
}
.placeholder-tabs .nav-link{
  font-size: 13px;
}
.placeholder-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-bottom: 15px;
}
.placeholder-container a.nav-link{
  color: lightgray;
}
.placeholder-container a.nav-link.active{
  color: var(--main-primary-color);
}
.placeholder-pills .badge{
  cursor: pointer;
}
.placeholder-pills .badge:hover{
  background-color: var(--active-color);
  color: white;
}
.placeholders-body{
  display: grid;
}
.cognitively-placeholders{
  position: relative;
  text-align: right;
  margin-top: 10px;
}
.placeholder-modal.open{
  opacity: 1;
  z-index: 100;
  pointer-events: auto;
}

@media screen and (max-width:700px) {
  .hc-form-slice-inner-container{
    flex-direction: column;
  }
  .hc-form-slice-inner-container>*{
    width: 100%;
  }
}