
.hc-copyright,.hc-credits{
    text-align: center;
}

.hc-footer-cta-header{
    flex-grow: 1;
}

.hc-footer-outer-container,.hc-footer-cta-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.hc-footer-inner-container .hc-nav{
    /* margin-bottom: -40px; */
}
.hc-footer-cta-container{
    background-color: var(--primary-main);
    display: flex;
    justify-content: center;
}
.hc-footer-container{
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hc-footer-outer-container{
    background-color: var(--secondary-main);
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}
  
.hc-footer-inner-container, .hc-footer-cta-inner-container{
    width: var(--col-16);
}
  
@media screen and (max-width:980px) {
    .hc-footer-inner-container, .hc-footer-cta-inner-container{
      padding: 0 20px;
      width: 100vw;
      flex-direction: column;
    }
    .hc-footer-cta-header{
        margin-bottom: 20px;
    }
    .hc-footer-cta-inner-container{
        align-items: initial;
    }
}