.hc-slim-fit{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width:980px) {
  .hc-slim-fit {
    padding: 30px 0;
  }
  .hc-slim-fit .hc-card-carousel {
      width: unset;
  }
}
@media screen and (max-width:780px) {
  .hc-slim-fit {
    padding: 30px 20px;
    width: 100vw;
  }
  .hc-cover-r700{
    width: 100%;
  }
}