.hc-nytimes-card2{
  flex-basis: 50%;
}
.hc-nytimes-card3{
  /* flex-basis: 30%;
  flex-shrink: 0;
  flex-grow: 0; */
}

.hc-nytimes-card3:nth-of-type(1){
  flex:2
}

.hc-nytimes-card3:nth-of-type(2){
  flex:1;
}

.hc-nytimes-card3:nth-of-type(3){
  flex:1;
}

.hc-overlay{
  display: inline-flex;
  padding: 0px 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(180deg, rgba(31, 31, 31, 0.00) 0%, #1F1F1F 48.36%, rgba(31, 31, 31, 0.84) 145.07%);
  color: white;
  position: absolute;
  bottom: 0px;
}

.hc-position-rel{
  position: relative;
}

.hc-cover-top{
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
}
.hc-meta-left {
  left: 0px;
}
.hc-meta-right {
  right: 0px;
}
.hc-meta-text {
  padding: 4px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  color: var(--brightness-7);
}
.hc-topten-number{
  line-height: 0.5;
}
.hc-topten-card{
  flex-basis: 45%;
  flex-shrink: 0;
  flex-grow: 0;
}
.hc-cover-rect{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hc-outbound-link {
	fill: var(--brightness-7);
  height: 8px;
}
.hc-card-footer{
  display: flex;
  align-items: center;
}
.hc-card-bottom{
  margin-left:8px;
}
.hc-card-bottom > .hc-one-line{
  margin-bottom: 2px;
}
.hc-dp-placeholder {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  background-color: var(--brightness-86);
}
.hc-cover-rect-placeholder{
  background-color: var(--brightness-86);
  height: 132px;
}
.hc-headline{
  color: var(--brightness-7);
}
.hc-playlist-more {
  width: 220px;
  height: 132px;
  font-size: var(--brand-header-size-m);
  color: var(--brightness-100);
  background-color: var(--brightness-86);
}
.hc-playlist-more:hover {
  background-color: var(--brightness-60);
}
@media screen and (max-width:540px) {
  .hc-topten-card{
    flex-basis: 100%;
  }
  .hc-ny-card{
    flex-direction: column;
  }
}