.hc-nav{
  column-count: 4;
  column-gap: 20px;
  display: block;
}
.hc-nav-group{
  margin-bottom: 40px;
  display: inline-flex;
  width: 210px;
}
.hc-main-navlink, .hc-sub-navlink{
  font-size: var(--brand-card-title-size-xs);
}
.hc-social{
  justify-content: center;
}
@media screen and (max-width:980px) {
  .hc-nav{
    column-count: 3 !important;
    column-width: 210px;
  }
  .hc-nav-group{
    width: unset;
  }
}
@media screen and (max-width:740px) {
  .hc-nav{
    column-count: 2 !important;
  }
}
@media screen and (max-width:580px) {
  .hc-nav-group{
    min-width: 100%;
  }
}
@media screen and (max-width:420px) {
  .hc-nav{
    column-count: 1 !important;
  }
}