.hc-card-gallery-xs {
  width: 220px;
  max-height: 300px;
  display: grid; 
  grid-template-rows: 132px 1fr !important;
  position: relative;
}
.hc-cards-white .hc-card-gallery-xs, .hc-cards-white .hc-card-list-xs, .hc-cards-white .hc-headline, .hc-cards-white .hc-list-cards{
  color: white;
}
.hc-cards-black .hc-card-gallery-xs, .hc-cards-black .hc-card-list-xs, .hc-cards-black .hc-headline{
  color: black;
}
.hc-all-elements{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
}
