.hc-bootstrap-modal-container{
    width: fit-content;
    position: relative;
    height: fit-content;
    background: var(--brightness-97);
    padding: 20px;
    grid-row: 1;
    grid-column: 1;
}

.hc-bootstrap-modal{
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    left: 0;
    top: 0;
    z-index: 100000;
    background: rgba(0, 0, 0, 0.5);
}

.hc-bootstrap-modal-close{
    background: none;
    outline: none;
    border: none;
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    padding: 8px;
    top: 0;
    right: 5px;
}