:root{
  font-size: 16px;
}
html, body{
  overflow-x: hidden;
}
/* .hc-slice-container h1, .hc-slice-container h2, .hc-slice-container h3, .hc-slice-container p{
  margin: 0px;
} */
ul{
  padding-left: 18px;
}
h1, h2, h3, p{
  margin: 0px;
}
.wp-block-columns p{
  margin-block-start: 20px;
  margin-block-end: 20px;
}
.schema-faq p{
  margin-top: 4px;
  margin-bottom: 20px;
}
form{
  margin:0px;
}
