@import url("https://fonts.googleapis.com/css?family=Raleway:800");

* {
  box-sizing: border-box;
}
:root{
  --brand-header-font: 'Raleway';
  --brand-header-size-xl: 3.815rem; /* 61.04px */
  --brand-header-size-m: 2.441rem; /* 39.06px */
  --brand-header-size-s: 1.563rem; /* 25.00px */
  --brand-card-title-size-s: 1.25rem; /* 20.00px */
  --brand-card-title-size-xs: 0.875rem; /* 14.00px */
  --brand-reading-font: 'Avenir';
  --brand-reading-size: 1rem; /* 16.00px */
  --supernormal-font: 'Inter';
  --supernormal-size-s: 12px;
  --supernormal-size-xs: 10px;
  --extra-bold: 900;
  --bold: 800;
  --semi-bold: 600;
  --regular: 400;
  --primary-dark: #544081;
  --primary-main: #6950A1;
  --primary-pastel: #B4A8D0;
  --primary-faded: #F0EEF6;
  --secondary-main: #5BC3BE;
  --brightness-7: #121212;
  --brightness-20: #333333;
  --brightness-46: #767676;
  --brightness-60: #999999;
  --brightness-86: #DCDCDC;
  --brightness-93: #EDEDED;
  --brightness-97:#F6F6F6;
  --brightness-100: #FFFFFF;
  --red-dark:#ae423f;
  --red: #D9534F;
  --red-pastel: #eca9a7;
  --red-faded:#f4cbca;
  --green-dark:#4a934a;
  --green: #5cb85c;
  --green-pastel: #aedcae;
  --green-faded:#ceeace;
  --yellow-dark:#664d03;
  --yellow: #f8e39e;
  --yellow-pastel:#fcf1cf;
  --yellow-faded:#fcf4d8;
  --col-16: 940px;
  --col-14: 820px;
  --col-12: 700px;
  --col-10: 580px;
  --col-8: 460px;
  --col-6: 340px;
  --col-4: 220px;
  --col-2: 160px;
  --gx: 20px;
}
body{
  margin: 0px;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

p, div {
  font-family:'Avenir';
}

.container{
  display: grid;
  grid-template-columns: 340px 940px;
  height: 100%;
  overflow: scroll;

}
.sidebar{
  padding:10px 20px;
  overflow: scroll;
}

.menu-item{
  margin-bottom: 10px;
}

.content {
  /* padding: 20px; */
  overflow-y: scroll;
}

th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

td {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
  padding-right:20px;
}

td > .hc-brand-card-title-xs{
  height: auto;
}

code{
  color: #d63384;
  word-wrap: normal;
  /* unicode-bidi:bidi-override; */
  /* direction: ltr; */
  font-size:14px;
}

td:not(:last-child) {
  padding: 20px;
  padding-right:50px;
}

.highlight{
  background-color:#f8f9fa;
  padding:20px 30px;
  widows: 100%;
}

table{
  width:100%;
}

.h1-heading{
  color: blue;
  font-weight: 800;
}

.heading-h4{
  margin-bottom: 10px;
}

.example-container{
  border: 1px solid #dee2e6;
  padding: 20px;
}

.p-20{
  padding: 20px;
}

.fit-image{
  width:100%;
}

.description-p {
  margin-bottom: 20px;
  margin-top: 20px;
}


.example-container > .hc-btn-structure{
  margin-right: 20px;
}

.hc-slice-container{
  display: block !important;
  width: unset !important;
}

.hc-contact{
  height: 540px;
}

.hc-contact>.hc-fx{
  height: 480px;
}
.hc-nudge-hellobar{
  width: 100% !important;
}
.hc-nudge-bot{
  max-height: 100vh !important;
}
.hc-header-megadropdown-container, .hc-dropdown{
  position: static !important;
  display: block !important;
}

.hc-contact-form-greeting{
  position: static !important;
  opacity: 1 !important;
  max-height: 200px !important;
  margin-bottom: 20px;
}