@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: local("AvenirNext-UltraLight"),
    url("AvenirNext-UltraLight.woff2") format("woff2"),
    url("AvenirNext-UltraLight.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-display: block;
  src:
    local("AvenirNext-Regular"),
    url("AvenirNext-Regular.woff2") format("woff2"),
    url("AvenirNext-Regular.woff") format("woff");
}


@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src:
    local("AvenirNext-Medium"),
    url("AvenirNext-Medium.woff2") format("woff2"),
    url("AvenirNext-Medium.woff") format("woff");
}


@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src:
    local("AvenirNext-DemiBold"),
    url("AvenirNext-DemiBold.woff2") format("woff2"),
    url("AvenirNext-DemiBold.woff") format("woff");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src:
    local("AvenirNext-Bold"),
    url("AvenirNext-Bold.woff") format("woff"),
    url("AvenirNext-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    local("AvenirNext-Heavy"),
    url("AvenirNext-Heavy.woff") format("woff"),
    url("AvenirNext-Heavy.woff2") format("woff2");
}